.container{
    display:flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    width: 450px;
    height: 200px;
    padding: 50px;
    box-shadow: 2px 3px 20px 3px rgba(255,255,255,1);
    -webkit-box-shadow: 2px 3px 20px 3px rgba(255,255,255,1);
    -moz-box-shadow: 2px 3px 20px 3px rgba(255,255,255,1);
}
.user{
    width: 400px;
    padding: 5px;
}
.pass{
    width: 400px;
    padding: 5px;
}
.text{
    margin-right: 5px;
    font-weight: bold;
}
.button{
    margin-top: 10px;
    width: 100px;
    transition: all;
    transition-duration: 0.1s;
    border-radius: 5px;
    cursor: pointer;
    &&:hover{
        background-color: rgb(217, 215, 255);
    }
}
.error{
    color: rgb(255, 0, 0);
    padding: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 5px;
    opacity: 70%;
}
.input{
    border-radius: 5px;
}